$def with (page)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtfcml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<link rel='stylesheet' href='/static/styles.css' type='text/css' media='screen' />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<title>copypasta - the online clipboard</title>
		
	</head>
	<body>
		<div class='pg'>
			<div class='head'>
				<h1><a href='/'>CopyPasta</a></h1>
			</div>
            
			<div class='pg-main'>
            	<div class='entries'>   
$:page
				</div>
                
				<div class='sidebar'>
					<ul class='subscribe'>
						<li><a href='/'>Home</a></li>
						<li><a href='/new'>New Post</a></li>
					</ul>
				</div>
			</div>
			<div class='foot'>
				<p>&copy; G.R. K.Y. D.C. 2012</p>
			</div>
			
		</div>
	</body>
</html>