$def with (posts, form)

<form action="" method="post">
$:form.render()
</form>
<hr />

                    $for post in posts:
                        <div style='margin: 20px;'>
                        <div style='float:right'>$datestr(post.posted_on)</div>
                        <a href='/edit/$post.id'><b>$post.title</b> - edit</a>
                        <br /><br />
                        <div>$post.content</div>
                        </div>
                        <hr/>
